*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

body
{
  background-color: rgb(66, 134, 244);
  /*background-color: rgb(12, 18, 28);*/
}

a
{
  color: inherit;
}
#heading
{
  text-align: center;
  color: white;
  font-size: 50px;

}

.toggle_menu
{
  position: fixed;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;

  padding: 15px 20px 15px 15px;
  margin-top: 70px;
  color: white;
  cursor: pointer;
  background-color: rgb(31, 48, 76);
  z-index: 0;
  font-size: 2em;
  opacity: 0;
}

.toggle_menu:hover
{
  background-color: rgb(70, 89, 119);
}

.sidebar_menu
{
  position: fixed;
  width: 273px;
  margin-left: 0px;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: rgb(31, 48, 76);
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.boxed_item
{
  /*font-family: 'Open Sans', sans-serif;*/
  padding: 10px 10px;
  display: inline-block;
  border: solid 2px white;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 35px;
  color: rgb(255, 244, 132);
  text-align: center;
  margin-top: 70px;
}

.logo_bold
{
  font-weight: 800;
  color: rgb(255, 0, 0);
}

.logo_title
{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 5px 0;
}

.navigation_select
{
  margin: 20px 0;
  display: block;
  width: 220px;
  margin-left: 25px;
}

.navigation_item
{
  font-size: 22px;
  font-weight: 200;
  /*font-family: 'Open Sans', sans-serif;*/
  color: rgb(64, 255, 0);
  padding: 5px;

  background-color: rgb(31, 48, 76);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navigation_item:hover
{
  color: rgb(218, 255, 206);
}

.top-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #344857;
  /**background-color: rgb(31, 48, 76);**/
  border-bottom: 1px solid rgb(70, 89, 119);
  background: linear-gradient(to bottom,#4E575E 0%,#34393D 50%,#282B30 53%,#202427 100%);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}

.boxed_item_smaller
{
  padding: 5px;
  font-family: sans-serif;
  font-size: 15px;
  color: #D8D8D8;
  width: 180px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid white;
  border-width: 1px;
  border-radius: 5px;
  margin: 0 0 20px 0;
}

.boxed_item_smaller:hover
{
  background-color: white;
  color: #111;
  transition: all 0.3s ease-in-out;
}

.hide_menu
{
  margin-left: -275px;
}

.opacity_one
{
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/*************************************/

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}


input[type=text], input[type=password]
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: solid 1px black;
    border-radius: 3px;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
    background-color: #ddd;
    outline: none;
}

input[type=text]:hover, input[type=password]:hover
{
  background-color: #ddd;
}

.modal
{
    /*font-family: 'Open Sans', sans-serif;*/
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 150px;
    flex: auto;
    background-color: rgba(0,0,0,0.4);
}

hr
{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close
{
    position: absolute;
    right: 35px;
    top: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
    cursor: pointer;
}


.cancelbtn
{
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 20px;
  padding: 5px 30px;
  background-color: rgba(20, 17, 0, 0.5);
  border: 2px solid black;
  border-bottom-color: red;
  color: white;
  border-radius: 2px;
  margin: 5px;
}

.cancelbtn:hover
{
  background-color: rgb(148, 2, 2);
  transition: all 0.3s ease-in-out;
}


.signupbtn
{
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 20px;
  padding: 5px 30px;
  background-color: rgba(20, 17, 0, 0.5);
  border: 2px solid black;
  border-bottom-color: blue;
  color: white;
  border-radius: 2px;
  margin: 5px;
}

.signupbtn:hover
{
  background-color: hsl(220, 100%, 70%);
  transition: all 0.3s ease-in-out;
}

#forbtns
{
  padding: 5px;
}

#signh1
{
  /*font-family: 'Open Sans', sans-serif;*/
  text-align: center;
  padding: 10px;
  /*border-bottom: 2px solid rgba(20, 17, 0, 0.5);*/
}

#game-canvas
{
    /*margin-top: 100px;*/
    display: flex;
   /* This centers our sketch horizontally. */
   justify-content: center;
   /* This centers our sketch vertically. */
   align-items: center;
}

.login-form
{
  margin: auto;
  display: block;
  border-top: none;
  /*border: 2px solid rgba(20, 17, 0, 0.5);*/
  border-radius: 1em;
  background-color: rgb(66, 134, 244);
  width: 500px;
  height: 270px;
  padding: 15px;
}
.login-form h1
{
  margin-top: -10px;
  margin-bottom: 20px;
  color: white;
}

.formdiv
{
  margin-top: -20px;
}

.register-form
{
  font-family: sans-serif;
  margin: 5% auto 15% auto;
  border: 2px solid rgba(20, 17, 0, 0.5);
  border-radius: 10px;
  background-color: rgb(175, 206, 255);
  width: 500px;
  padding: 15px;
}

.form .message
{
  margin: 15px 0 0;
  color: black;
}

.message:hover
{
  text-shadow:  0 0 3px #FF0000;
}

.form .register-form
{
  display: none;
}

.tablinks-in
{
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 20px;
  padding: 10px 36px;
  background-color: rgba(20, 17, 0, 0.5);
  border: 2px solid black;
  border-bottom-color: #406b23;
  color: white;
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
}

.tablinks-out
{
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 20px;
  padding: 10px 25px;
  background-color: rgba(20, 17, 0, 0.5);
  border: 2px solid black;
  border-bottom-color: #9c3435;
  color: white;
  border-radius: 2px;
  margin: 5px;
  cursor: pointer;
}

.tablinks-in:hover
{
  background-color: #4e575e;
  transition: all 0.3s ease-in-out;
}
.tablinks-out:hover
{
  background-color: #4e575e;
  transition: all 0.3s ease-in-out;
}

#text-login-msg
{

  border: 1px solid rgb(46, 46, 46);
  border-radius: 3px;
  padding: 3px;
  background-color:rgb(154, 165, 186);
}

.message
{
  font-size: 17px;
}

#myCanvas
{
  border-radius: 1em;
  border: 1px solid white;
  display: none;
  margin: 100px auto ;
}

.fa-info
{
  margin-top: 7px;
  margin-right: 7px;
  color: greenyellow;
}

.fa-users
{
  margin-top: 7px;
  margin-right: 7px;
  color: greenyellow;
}

.fa-github-square
{
  font-size: 20px;
}

.fa-times
{
  right: 10px;
  top: 10px;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  color: white;
  transition: all 0.3s ease-in-out;
}
.fa-times:hover
{
  opacity: 1;
}

.fa-search-plus
{
  cursor: pointer;
}

.fa-search-plus2
{
  color: greenyellow;
}

.fa-question
{
  color: greenyellow;
}

.fa-user
{
  color: greenyellow;
}

.graphpage
{
  /*font-family: 'Open Sans', sans-serif;*/
  width: 50%;
  border: 2px solid white;
  background-color: rgba(31, 48, 76, 1);
  color: white;
  margin: 20px;
}

.leaderpage
{
  /*font-family: 'Open Sans', sans-serif;*/
  width: 50%;
  border: 2px solid white;
  background-color: rgba(31, 48, 76, 1);
  color: white;
  margin: 20px;
}


#tooltip,#tooltip2
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  position: absolute;
  z-index: 2;
  width: 500px;
  padding: 5px;
  color: white;
  background-color: rgb(31, 48, 76);
  border: 2px solid greenyellow;
  border-radius: 5px;
  -moz-border-radius: 5px;
  display: none;
}

#wasd
{
  padding: 10px;
}

#arrow
{
  padding: 10px;
}

#egg_counter
{
  color: white;
  /*font-family: 'Open Sans', sans-serif;*/
  padding: 1px;
}

.logout-page
{
  align-content: center;
  font-family: sans-serif;
  margin: 5% auto 15% auto;
  border: 2px solid rgba(20, 17, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.6);
  width: 500px;
  padding: 15px;
}

input[type=checkbox]
{
  color: green;
}
