

#loadingScreen
{
  padding: 20px;
  margin: 100px auto;
  width: 750px;
  height: 450px;
  background-color: rgba(137, 153, 252,0.8);
  /*display: none;*/
  font-family: 'lato', sans-serif;
  border-radius: 1em;
  display: none;
}

#loadingScreen p
{
  margin-top: 100px;
  margin-bottom: -120px;
  margin-left: auto;
  text-align: center;
  color: white;
  opacity: 0.8;
}
#loadingScreen h1
{
  /*margin-top: 160px;*/
  margin-left: 30.5%;
  color: white;
  opacity: 1;
  visibility: hidden;
  /*margin-bottom: -60px;*/
}
#loadingScreen #copyright
{
  margin-top: 105px;
  margin-bottom: -170px;
}

#startbutton
{
  width: 250px;
  height: 50px;
  font-size: 20px;
  border-radius: 5em;
  border:none;
  margin-left: 32%;
  margin-top: 10%;
  background: #FFFFFF;
  color: black;
  font-family: 'lato', sans-serif;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}
#startbutton:focus
{
  outline:0;
}
#startbutton:hover
{
  background: #E4E4E4;
  color: black;
}
#startbutton:active
{
  background: #A6A6A6;
  color: white;
}

.animation
{
  margin-top: 25%;
}
.bunny
{
  margin-left: 36%;
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url('../images/rightRun.png') left center;
  animation: play 0.3s steps(2) infinite;
}

@keyframes play
{
  100% {background-position: -64px;}
}

#eggimg
{
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left:  200px;
}
